.chatscreen-body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
}

.chat-con{
    width: 400px;
    height: 420px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: none;
    border-radius: 20px;
    box-shadow: 2px 0px 4px lightgray;
    padding-top: 10px;
    padding-bottom: 5px;
}

.reciverName-con{
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid lightgray;
    padding-left: 10px;
}

.reciverName{
    font-size: 18px;
    font-weight: 700;
    color: black;
    
}

.messages-con{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
    height: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    padding: 8px;
}

.msg-input-btn{
    width: 100%;
    height: 60px;
    display: flex;
    flex-direction: row;
    padding: 5px;
    gap: 20px;
}

.message-input{
    width: 80%;
    height: 100%;
    background-color: #f5f5f5;
    border-radius: 12px;
    padding: 5px;
    outline: none;
}

.send-btn{
    width: 90px;
    height: 40px;
    background-color: blue;
    border-radius: 16px;
    color: white;
    font-weight: 700;
    font-size: 16px;
}

.recived{
    width: max-content;
    background-color: lightgray;
    display: block;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    align-self: self-end;
}

.sent{
    width: max-content;
    padding: 10px;
    border-radius: 10px;
    background-color: blue;
    margin-bottom: 10px;
    align-self: self-start;
}

.sent span{
    color: white;
    font-size: 15px;
    font-weight: 600;
}