.reg-body{
    width: 100%;
    height: 100vh;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.reg-con{
    width: 400px;
    height: 430px;
    background-color: #fff;
    border: none;
    border-radius: 25px;
    box-shadow: 2px 0px 8px lightgray;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.reg-title{
    font-size: 32px;
    font-weight: 700;
    color: blue;
}

.reg-form{
    margin-top: 22px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

.reg-input{
    width: 100%;
    height: 50px;
    border: 1px solid darkgray;
    border-radius: 25px;
    outline: none;
    padding: 8px;
}

.reg-input:focus{
    border-radius: 12px;
    transition: 0.3s ease-in-out;
    border: 3px solid blue;
}



.reg-log-btn , .reg-sign-btn{
    width: 90%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 18px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    
}

.reg-log-btn{
    background-color: rgb(50, 179, 223);
    margin-top: 22px;
}

.reg-sign-btn{
    background-color: rgb(76, 228, 122);
    margin-top: 14px;
}

.reg-err{
    font-size: 14px;
    font-weight: 700;
    color: red;
    margin-top: 4px;
}

.reg-input-err{
    width: 85%;
    height: 80px;
    display: flex;
    flex-direction: column;
}

