.user-s-body{
    width: 100%;
    height: 100vh;
    background-color: #f5f5f5;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: scroll;
}

.user-s-con{
    width: 400px;
    height: 400px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: none;
    border-radius: 20px;
    box-shadow: 2px 0px 4px lightgray;

}

.username{
    font-size: 28px;
    font-weight: 700;
    color: blue;
}

.chatwith{
    font-size: 18px;
    font-weight: 700;
    color: black;
}

.chats-con{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 12px;
    gap: 10px;
    align-items: center;
}

.user-item{
    width: 90%;
    display: flex;
    height: 50px;
}

.user-name-item{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 14px;
    font-size: 16px;
    font-weight: 700;
}

.title-logout{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logout{
    font-size: 14px;
    font-weight: 700;
    color: white;
    background-color: red;
    width: 85px;
    height: 40px;
    border-radius: 25px;
    border: none;
}