
.main-con{
    width: 500px;
    height: 90%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 30px;
    box-shadow: 2px 2px 8px gray;
    overflow: hidden;
    gap: 24px;
}

.tit-quit-r{
    width: 100%;
    height: 60px;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.gre-un{
    border-bottom-right-radius: 20px;
    width: 120px;
    height: 100%;
    background-color: #30b330;
    display: flex;
    align-items: center;
    justify-content: center;

}

.gretting{
    color: white;
    font-size: 18px;
    font-weight: 600;
}

.logOut{
    width: 110px;
    height: 60px;
    border-bottom-left-radius: 20px;
    border: none;
    color: white;
    background-color:rgb(233, 27, 27);
    font-size: 16px;
    font-weight: 800;
}

.tasks-con{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.input-add-con{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 12px;
}

.task-i{
    width: 70%;
    height: 45px;
    padding: 8px;
    border: none;
    border-radius: 30px;
    background-color: #f5f5f5;
    box-shadow: 1px 1px 1px gray;
    outline: none;
}

.task-i:focus{
    border: 2px solid #30b330;
}

.add-t{
    width: 100px;
    height: 45px;
    background-color: #30b330;
    color: white;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 30px;
}

.tasks-l{
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
    gap: 10px;
}

.i-a-err-con{
    width: 80%;
    height: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;

}

.err{
    color: red;
    font-size: 14px;
    font-weight: 700;
    align-self: center;
}

.task-t{
    font-size: 20px;
    font-weight: 600;
    color: black;

}

.task-con{
    width: 70%;
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #f5f5f5;
    box-shadow: 1px 1px 2px gray;
    border-radius: 12px;
    padding: 8px;
}

.d-t{
    display: flex;
    flex-direction: row;
    gap: 16px;

}

.d-b{
    background-color: red;
    width: 60px;
    height: 35px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 800;
    color: white;
}
