
.main-sign-con{
    width: 400px;
    height: max-content;
    background-color: white;
    box-shadow: 2px 2px 8px gray;
    border-radius: 30px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.sign-f-con{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sign-i{
    width: 100%;
    height: 48px;
    padding: 8px;
    background-color: white;
    border: 1px solid green;
    border-radius: 25px;
    font-size: 14px;
    font-weight: 500;
    outline: none;
}

.sign-i:focus{
    border: 2px solid green;
    border-radius: 12px;
    transition: 200ms ease-in-out;
}

.sign-i::placeholder{
    color: grey;
    font-weight: 700;
}

.join{
    margin-top: 20px;
    width: 50%;
    height: 50px;
    border: none;
    border-radius: 30px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    background-color: #1ead1e;
    margin-bottom: 10px;
}


.login{
    font-size: 14px;
    font-weight: 700;
    text-decoration: underline;
    color: red;
    margin-top: 8px;
}

.sign-i-err{
    width: 80%;
    height: 80px;
    flex-direction: column;
    align-items: center;
    display: flex;
    gap: 5px;
}
.err{
    color: red;
    font-size: 14px;
    align-self: flex-end;
}

.sign-t{
    font-size: 28px;
    font-weight: 700;
    color: #1ead1e;
}
